:root {
  --global_color: #003e78;
  --secondary_color: #194884;

  /* #003e78 to white */
  --to_white1:#003e78;
  --to_white2:#3f5a8e;
  --to_white3:#6778a4;
  --to_white4:#8d98ba;
  --to_white5:#b2b9d1;
  --to_white6:#d8dce8;
  --to_white7:#ffffff;

  /* #003e78 to black */
  --to_black1:#003e78;
  --to_black2:#0c3463;
  --to_black3:#112b4f;
  --to_black4:#12223c;
  --to_black5:#11192a;
  --to_black6:#0c0f19;
  --to_black7:#000000;

  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --teal: #39cccc;
  --teal2: #008080;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff0011;
  --maroon: #802000;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --black: #111111;
  --gray: #aaaaaa;
  --silver: #dddddd;
  --white: #ffffff;

}

